fastapi
uvicorn
torch
transformers
faster-whisper
librosa
soundfile
pydub
pyannote.audio
spacy
scikit-learn
sounddevice
matplotlib
noisereduce
speechbrain
deepmultilingualpunctuation
python-multipart
python-dotenv
